<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>RepositoryLauncher</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>studio.repository-launcher</string>
	<key>CFBundleName</key>
	<string>Repository Launcher</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LauncherSourceClean</key>
	<string>true</string>
	<key>LauncherSourceFingerprint</key>
	<string>6ccdad2a22f581db6883c217a2b48cafbe070b29e4381d08f56cc636ecd39d3b</string>
	<key>LauncherSourceRevision</key>
	<string>81361dca3be1db2f6b41c6bbd2e63e4eccf83e80</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
